# Android SDK
gen/
build/
local.properties
# Old Android
bin/
proguard/

# Android NDK
*.o
*.o.d
*_g
*.a
*.so
*.pinfo
*.gcno
*.bar
gdbserver
gdb.setup

# IDEA IDE (see http://devnet.jetbrains.com/docs/DOC-1186)
*.iws
*.iml
*.ipr
.idea
.gradle/
out

# Eclipse IDE
.project
.classpath
.settings

# Eclipse IDE NDK
.cproject

# suggestion:
# ignore libs/*.properties files for old eclipse projects.
# not added here because libs/ directories may be scattered.

# Mac
.DS_Store

# Generic
*~
.swp

# Project specific
artwork/